---
import BaseLayout from "@components/base/BaseLayout.astro";
import Button from "@components/common/Button.astro";
---

<BaseLayout title="Seite nicht gefunden">
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="glass rounded-lg p-4 sm:col-10 md:col-8 lg:col-6 intersect:animate-fadeUp opacity-0">
          <h1
            class="text-[8rem] block"
          >
            404
          </span>
          <h1 class="h2 mb-4">Seite nicht gefunden</h1>
          <p class="mb-8">
            Die gesuchte Seite wurde möglicherweise entfernt,
            ihr Name wurde geändert oder sie ist vorübergehend nicht verfügbar.
          </p>
          <Button link="/" label="Zurück zur Startseite" hoverInvert/>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
