
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-secondary {
    font-family: 'YourSecondaryFontName', sans-serif;
  }
  .text-txt-s {
    font-size: 0.875rem; /* matches the tailwind.config.js fontSize */
  }
}
