---
import Social from "@components/common/Social.astro";
---

<footer class="glass container lg:my-4 lg:rounded-lg intersect:animate-fadeUp opacity-0">
  <div class="row py-2 lg:py-0 items-center flex-wrap-reverse">
    <div class="text-center lg:col-6 lg:mb-0 lg:text-left">
      <ul>
        <li class="m-2 inline-block">
          <a href="/terms">&copy;JD2025 Edwin Eddy Machaca</a>
        </li>
      </ul>
    </div>
    <div class="text-center lg:col-6 lg:my-0 flex items-center justify-center lg:justify-end">
      <Social
        links={{
          facebook: "https://www.facebook.com/edwin.machacacondori.7",
          github: "https://github.com/Eddy-Machaca",
          instagram: "https://www.instagram.com/johan_1677?igsh=N3BsNG9ncjltbTYw",
          linkedIn: "https://www.linkedin.com/in/edwin-machaca/",
        }}
      />
    </div>
  </div>
</footer>
